{
  "jsc": {
    "externalHelpers": true,
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": false,
      "dynamicImport": false
    },
    "target": "es2016",
    "transform": {
      "react": {
        "runtime": "automatic",
        "throwIfNamespace": true
      }
    }
  }
}
